* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */

.navbar {
    /* #f5a6a9; */
    background-color: #E65553;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Calligraffitti', cursive;
    color: white;
    font-size: 25px;
   

}

.cart-container {

    position: absolute;
    right: 20px;

}

.items-count {
    display: inline-block;
    padding: 1px 3px;
    background-color: coral;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
    position: absolute;
    right: -7px;
    top: -9px;
}

.cart-icon {
    color: white;
    font-size: 25px;

}

/* NAVBAR END */


.intro-container
 {
    width: 80%;
    height: 75vh;
    background-color: inherit;
    display: flex;
    margin: 50px auto;
 }

 .intro-container img {
    width: 50%;
    object-fit: cover;
 }

 .intro-container div {
    width: 50%;
    background-color: #FFEDF8;
    text-align: center;
 }

 .discount  {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
      
 }

 .discount h2 {
     font-size: 70px;
     margin-bottom: 20px;

 }

 .discount p {
    margin-top: 20px;
    
 }

 .discount button {
    margin: 40px auto;
    height: 50px;
    width: 100px;
    background-color: inherit;
    font-family: inherit;
    font-size: 15px;
    border: 2px solid black;
    border-color: black;
    transition-property: border-color;
    transition-duration: 1s;
 }


